.color-container {
  display: grid;
  width: 100%;
  grid-template-columns: repeat(6, minmax(0, 1fr));
  grid-gap: 15px;
  padding: 30px;
  box-sizing: border-box;
}

body {
  box-sizing: border-box;
}

.card {
  width: 90%;
  height: 200px;
  border-radius: 5px;
  box-sizing: border-box;
  transition: 0.1s ease;
}
.card:hover {
  transform: scale(1.05);
}

.green {
  background-color: green;
}

.cyan {
  background-color: cyan;
}

.orange {
  background-color: orange;
}

.purple {
  background-color: purple;
}

.yellow {
  background-color: yellow;
}

.red {
  background-color: red;
}

input {
  border-radius: 300px;
  border: 1px solid gray;
  padding: 10px;
}
